//Constants
$dark-color: hsl(240, 38%, 20%);
$muted-color: hsl(240, 18%, 77%);
$light-color: white;
$button-radius: 30px;
$shadow: 0px 27px 42px -27px $dark-color;
$mobile-view: 700px;

//Functins and mixins
@mixin image-bg($bg-position, $bg-image) {
  background-image: url($bg-image);
  background-repeat: no-repeat;
  background-position: $bg-position;
}

//Styles
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 300ms;
}

body,
html {
  padding: 0;
  margin: 0;
}

.slider {
  @include image-bg(bottom left, "images/pattern-curve.svg");
  padding: 70px;
  width: 100%;
  overflow: hidden;

  //Modifiers
  &.full-height {
    min-height: 100vh;
  }

  //Children
  .slide {
    position: absolute;
    display: flex;
    opacity: 0;

    & > * {
      width: 50%;
    }

    .slide-text {
      font-size: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 2;
      left: 120px;
      @include image-bg(80px 120px, "images/pattern-quotes.svg");

      * {
        color: $dark-color;
        font-weight: 300;
      }

      .slide-text-name {
        font-size: 1.4rem;
        font-weight: bold;

        .muted-text {
          color: $muted-color;
        }

        @media (max-width: $mobile-view) {
          font-size: 1.1rem;
          .muted-text {
            display: block;
          }
        }
      }
      @media (max-width: $mobile-view) {
        font-size: 1.1rem;
        position: static;
        padding: 30px;
        text-align: center;
        background-position: 50% 20px;
        background-size: 15%;
      }
    }

    .slide-image {
      @include image-bg(right, "images/pattern-bg.svg");
      display: flex;
      background-size: contain;
      position: relative;
      z-index: 1;
      justify-content: center;
      align-items: center;
      padding: 50px;
      img {
        max-width: 500px;
        width: 100%;
        border-radius: 5px;
        box-shadow: $shadow;
      }

      @media (max-width: $mobile-view) {
        padding: 40px;
      }
    }

    @media (max-width: $mobile-view) {
      flex-direction: column-reverse;
      & > * {
        width: 100%;
      }
    }

    &.slide-active {
      opacity: 1;
    }
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px;
    height: 60px;
    background-color: $light-color;
    border-radius: $button-radius;
    overflow: hidden;
    box-shadow: $shadow;
    position: absolute;
    bottom: 20px;
    left: 30%;

    .slider-control {
      width: 20px;
      padding: 20px 30px;
      height: 100%;
      &:hover {
        background-color: $muted-color;
      }
    }

    .prev-button {
      @include image-bg(center, "images/icon-prev.svg");
    }

    .next-button {
      @include image-bg(center, "images/icon-next.svg");
    }

    @media (max-width: $mobile-view) {
      left: auto;
      bottom: 10px;
      transform: scale(0.7);
    }
  }

  @media (max-width: $mobile-view) {
    padding: 0px;
    background-size: contain;
  }
}

.slide-in {
  animation: slideInAnimation 300ms linear;
}

.slide-out {
  animation: slideOutAnimation 300ms linear;
  pointer-events: none;
}

@keyframes slideInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideOutAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
